# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zqowrcvbxykughnyqpsx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpxb3dyY3ZieHlrdWdobnlxcHN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3OTIwMzAsImV4cCI6MjA3MTM2ODAzMH0.XW7VHwU-EoAo0pYvMyQlpwyhKVRG4Ao1-jbC9YhcBuA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpxb3dyY3ZieHlrdWdobnlxcHN4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTc5MjAzMCwiZXhwIjoyMDcxMzY4MDMwfQ.17iMBNYBASQ9S4HLJmLOyRlvr1nPID71KE_UcvPBEXk

# Database
DATABASE_URL=postgresql://postgres:Coder@22!@#$%^&*@db.zqowrcvbxykughnyqpsx.supabase.co:5432/postgres

# App Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000

